@mixin  button($bg-color,$text-color) {
    border-radius: 999px;
    background-color: $bg-color;
    border-color: $bg-color;
    color: $text-color;
    display: inline-block;
    padding: 6px 35px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}


@mixin btnPlaylist {
    outline: none;
    padding: 0 15px;
    height: 40px;
    width: 100%;
    border-radius: 999px;
    background-color: $purple__3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    margin-top: 20px;
    &:hover{
        -webkit-filter: brightness(.8);
    }
}