    $purple: #37075d;
    $purple__1: #6a39af;
    $purple__2: #5d218c;
    $purple__3: #ed2b91;
    $purple__4: #fe63da;
    $purple__5: #572f90;
    $purple__6: linear-gradient(to bottom, #740091, #2d1a4c);
    $sidebar-bg: hsla(0,0%,100%,0.05);
    $text-color: #dadada;
    $border-primary:rgba(255, 255, 255, 0.1);
    $alpha-bg: hsla(0,0%,100%,0.1);
    $tab-active-bg: hsla(0,0%,100%,0.3);
    $progressbar-player-bg: hsla(0,0%,100%,0.3);
    $progressbar-active-bg: #fff;